:root {
  --red-50: #fdeded;
  --red-100: #fcdada;
  --red-200: #f9b5b5;
  --red-300: #f58f8f;
  --red-400: #f26a6a;
  --red-500: #ef4444;
  --red-600: #e71414;
  --red-700: #b30f0f;
  --red-800: #800b0b;
  --red-900: #4c0707;

  --green-50: #edffe8;
  --green-100: #d2ffc7;
  --green-200: #99ff85;
  --green-300: #5dff42;
  --green-400: #1cff00;
  --green-500: #10bd00;
  --green-600: #089400;
  --green-700: #036b00;
  --green-800: #004200;
  --green-900: #001a01;

  --blue-50: #ebf2fe;
  --blue-100: #d7e6fd;
  --blue-200: #b0cdfb;
  --blue-300: #89b4fa;
  --blue-400: #629bf8;
  --blue-500: #3b82f6;
  --blue-600: #0b61ee;
  --blue-700: #084bb8;
  --blue-800: #063583;
  --blue-900: #041f4d;

  --yellow-50: #fcf5c4;
  --yellow-100: #fbf1b0;
  --yellow-200: #faeb89;
  --yellow-300: #f8e462;
  --yellow-400: #f6dd3b;
  --yellow-500: #eed00b;
  --yellow-600: #b8a108;
  --yellow-700: #837206;
  --yellow-800: #4d4304;
  --yellow-900: #171401;

  --yellow-50: #fdf8d5;
  --yellow-100: #fcf4bf;
  --yellow-200: #faec93;
  --yellow-300: #f8e567;
  --yellow-400: #f6dd3b;
  --yellow-500: #eed00b;
  --yellow-600: #b8a108;
  --yellow-700: #837206;
  --yellow-800: #4d4304;
  --yellow-900: #171401;

  --grey-50: #f3f3f3;
  --grey-100: #e6e6e6;
  --grey-200: #cccccc;
  --grey-300: #b3b3b3;
  --grey-400: #9a9a9a;
  --grey-500: #808080;
  --grey-600: #646464;
  --grey-700: #484848;
  --grey-800: #2c2c2c;
  --grey-900: #101010;
}
