@use 'sass:list';
@use 'sass:string';

$sides: ('top', 'right', 'bottom', 'left');
$spacings: (0, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem);

@for $i from 1 through list.length($spacings) {
  $spacing: list.nth($spacings, $i);
  $i: $i - 1;

  @each $type in ('padding', 'margin') {
    $prefix: string.slice($type, 0, 1);

    .#{$prefix}-#{$i} {
      #{$type}: $spacing;
    }

    .#{$prefix}x-#{$i} {
      #{$type}-left: $spacing;
      #{$type}-right: $spacing;
    }

    .#{$prefix}y-#{$i} {
      #{$type}-top: $spacing;
      #{$type}-bottom: $spacing;
    }

    @each $dir in $sides {
      .#{$prefix}#{string.slice($dir, 0, 1)}-#{$i} {
        #{$type}-#{$dir}: $spacing;
      }
    }
  }
}

@each $width in (0, 25, 50, 75, 100) {
  .w-#{$width} {
    width: $width * 1%;
  }
}

@each $o in ('hidden', 'auto') {
  .overflow-#{$o} {
    overflow: $o;
  }
}

.d-flex {
  display: flex;
}

.juco-end {
  justify-content: end;
}

.alit-center {
  align-items: center;
}
